/*
type your custom css here
在本文件键入您的自定义CSS
升级主题文件时请注意保护本文件，防止意外覆盖。
*/
.site-header {
    background-image: url(../../images/overlay.png), linear-gradient(45deg, #726193 20%, #e37b7c 60%, #ffe4b4);
}

.site-description {
    color: #ffe4b4;
}

#main-navigation .sf-menu {
    background-color: none;
}

.article-more-link a {
    color: #e37b7c;
    font-weight: 700;
}

button,
a.button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    background-image: url(../../images/overlay.png), linear-gradient(45deg, rgba(114, 97, 147, 0.25) 25%, rgba(227, 123, 124, 0.25) 50%, rgba(255, 228, 180, 0.25));
    background-color: #726193;
    border: none;
}

.widget_athemes_social_icons li a [class^="fa"]:before {
    background-color: #726193;
}

/* .widget li a:hover {
    color: #ffe4b4;
} */

.widget-title {
    border-bottom: 3px solid #e37b7c;
}

.widget_athemes_tabs .widget-tab-nav {
    background-color: #726193;
}

.widget_athemes_tabs .widget-tab-nav li.active a {
    color: #fff;
    background-image: url(../../images/overlay.png), linear-gradient(45deg, #726193 20%, #e37b7c 60%, #ffe4b4);
}

a.article-title:hover {
    color: #e37b7c;
    text-decoration: none;
}

button:hover,
a.button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
    background: #ffe4b4;
    border-color: #ffe4b4;
}

#main-navigation li a:hover,
#main-navigation li.sfHover>a,
#main-navigation li.current_page_item>a,
#main-navigation li.current-menu-item>a,
#main-navigation li.current-menu-parent>a,
#main-navigation li.current-page-parent>a,
#main-navigation li.current-page-ancestor>a,
#main-navigation li.current_page_ancestor>a {
    background: #ffe4b4;
}

#main-navigation .sf-menu {
    background: none;
}

#main-navigation .sf-menu>ul>li:after:hover {
    color: #666;
}

.widget li a:hover {
    color: #e37b7c;
}

.widget_athemes_tabs .widget ul li a:hover {
    color: #e37b7c;
}

.archives-category-wrap blockquote a:hover {
    color: #e37b7c;
}

.widget a:hover {
    color: #e37b7c;
    text-decoration: none;
}

.entry-footer {
    border-top: 1px solid transparent;
    border-image: linear-gradient(to right, #ffe4b4, #726193, #e37b7c, #ffe4b4) 1 10;
}

.article-header h1 a {
    color: #726193;
}

.widget-title {
    color: #726193;
}

.widget_athemes_tabs .widget ul {
    background: none;
    border: 1px solid #e6e6e6;
}

.widget_athemes_tabs .widget ul li a {
    color: #726193;
}

.widget li a {
    color: #726193;
}

.article-header h1 {
    font-size: 40px;
    font-weight: 700;
    color: #16171b;
}

.nav>li>a {
    color: #726193;
}

.nav>li>a ：hover {
    color: #ffe4b4;
}

.nav-link {
    color: #726193;
}

.nav-link：hover {
    color: #ffe4b4;
}

/* 手机 */
.nav-open,
.nav-close {
    color: #ffe4b4;
    background: #726193;
}